nav {
  height: 5rem;
  width: 100vw;
  background-color: var(--color-primary);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

/*------ Only Show in medium and small devices ------*/

.nav-toggle-btn {
  display: none;
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 7rem;
}

.nav-links {
  display: flex;
  gap: 3.5rem;
  align-items: center;
}

.nav-links a {
  transition: var(--transition);
}

.nav-links a:hover {
  color: var(--color-secondary);
}

.active-nav {
  position: relative;
}

.active-nav::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--color-primary);
  position: absolute;
  left: calc(50% - 0.6rem);
  transform: rotate(45deg);
  margin-top: 2.5rem;
}
